/** {
  padding: 0;
  margin: 0;
}*/
body {
  background-image: url('../media/img/POMpageBG.jpg');
  font-family: 'Cinzel', serif;
}
canvas {
  display: block;
  margin:167px 293px;
  position: absolute;
  padding: 0;
  box-shadow: 7px 7px 19px black;
}
#easy {
  font-family: 'Cinzel', serif;
  height: 2em;
  width: 5em;
  font-size: 3em;
  font-style: italic;
  color: black;
  background-color: #B8B8B8;
  border: 7px solid black;
  border-radius: 40px;
  margin-left: -736px;
  margin-top: 700px;
}
.mainBorder {
    margin:-33px 88px;
}
/*img {
  visibility: hidden;
}*/
/*p {
  position: absolute;
  font-size: 90px;
}*/
.info {
  height: 300px;
  width: 400px;
  background-color: #363636;
  position: absolute;
  margin-top:150px;
  margin-left:-1000px;
  border: 2px solid black;
  color: white;
  font-size: 20px;


}

legend.button {
  margin-left: 20px;
}

.gameOverScreen {
  height: 300px;
  width: 400px;
  background-color: #363636;
  position: absolute;
  margin-top:22%;
  margin-left:-800px;
  border: 2px solid black;
  color: white;
  font-size: 20px;
}
.gameOverScreenBlack {
  height: 600px;
  width: 800px;
  background-color: black;
  position: absolute;
  opacity: .5;
}
.overMessage {
  color: white;
  font-size: 90px;
}


#input {
  position: absolute;
  left: 1300px;
  width: 300px;
  border: 3px solid white;
  padding: 10px;
  color: white;
}

#gameOvers {
  height: 300px;
  width: 400px;
  background-color: #363636;
  position: absolute;
  margin-top:22%;
  margin-left:-800px;
  border: 2px solid black;
  color: white;
  font-size: 20px;
}
#healthBox {
  position: absolute;
  top: 500px;
  left: 1300px;
  width: 300px;
  border: 3px solid white;
  padding: 10px;
}
#playerHealth {
  font-size: 45px;
  color: white;
  margin: 0;

}

#healthDisplay {
  height: 150px;
  width: 150px;
}
